@model spletna_aplikacija.Models.miljarder

@{
    ViewBag.Title = "Izbriši";
}
    <h2></h2>
<h3>Potrdi brisanje!</h3>
<div>
    <h4>miljarder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priimek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priimek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.premozenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.premozenje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.podjetje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.podjetje)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
            @Html.ActionLink("Nazaj", "Index")
        </div>
    }
</div>
